coverage
dist
node_modules
*.[next]
package-lock.json
.next
*.next
*.log
**/next
.*
!*/*.babelrc.js
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!.gitlab-ci.yml
!.npmignore
!.storybook
!.npmrc
!.prettierignore
